h1 {
    color:blue;
}

h3 {
    color: orange;
}

.purple {
    color: purple;
}

#red {
    color: red;
}

.box {
    background-color: green;
    height: 100px;
    width: 100px;
    padding: 20px; /* space around contents inside the element */
    margin: 50px; /* space around outside of element */
    border: 10px solid black;

} /* right click and inspect on webpage in order to see all the code and
 elements of styling */ 

 .btn {
     background-color: pink;
     padding: 10px;
     margin: 10px;
     border: 1px solid black;
 }

 #green {
     background-color: green;
     color: white;
 }